<form action="/equipment/<%= equipment._id %>" method="POST">
    <label for="location">Category id</label>
    <input type="text" name="equipment_id" required>
    <label for="location_id">Category:</label>
    <input type="text" name="equipment" required>
    <button type="submit" class="btn btn-danger">Save Changes</button>
</form>