<form action="/location/<%= location._id %>" method="POST">
    <div class="form-group">
      <label for="locationName">Location Name:</label>
      <input type="text" class="form-control" id="locationName" name="locationName" value="<%= location.locationName %>" required>
    </div>
    <div class="form-group">
      <label for="location_id">Location ID:</label>
      <input type="text" class="form-control" id="location_id" name="location_id" value="<%= location.location_id %>" required>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>

  

  