<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifespan</title>

    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="css/location.css">

</head>
<body>
    <h3><i id="back-btn" class="fas fa-arrow-left back-button"></i></h3>
    <div class="login-box">
   
    <h1 style="text-align: center; ">The Lifespan of the following facilities has exceeded their specified Percentage</h1>


    <script src="dist/js/location.js"></script>

</body>
</html>